USE [master]
GO
/****** Object:  Database [BenX]    Script Date: 24/07/2019 4:06:50 PM ******/
CREATE DATABASE [BenX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BenX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BenX.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BenX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\BenX_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BenX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BenX]
GO
/****** Object:  Table [dbo].[BenXItem]    Script Date: 24/07/2019 4:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenXItem](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ItemName] [nvarchar](75) NULL,
	[ItemDesc] [nvarchar](250) NULL,
	[itemCond] [nvarchar](35) NULL,
	[MajorCat] [nvarchar](30) NULL,
	[MinorTag] [nvarchar](100) NULL,
	[ItemPrice] [decimal](18, 2) NULL,
	[ItemPic] [nvarchar](500) NULL,
	[ItemStatus] [nvarchar](15) NULL,
 CONSTRAINT [PK_BenXItem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Purchases]    Script Date: 24/07/2019 4:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Purchases](
	[PurchaseID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DatePurchased] [date] NULL,
	[RecieptNo] [int] NULL,
	[Status] [varchar](20) NULL,
	[ItemID] [int] NULL,
 CONSTRAINT [PK_Purchases] PRIMARY KEY CLUSTERED 
(
	[PurchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/07/2019 4:06:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[FName] [nvarchar](75) NULL,
	[LName] [nvarchar](75) NULL,
	[ContactNo] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[Password] [nvarchar](36) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BenXItem]  WITH CHECK ADD  CONSTRAINT [FK_BenXItem_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[BenXItem] CHECK CONSTRAINT [FK_BenXItem_Users]
GO
USE [master]
GO
